<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="VuelingCrud" connectionString="Server=192.168.99.100; DataBase=VuelingCrud; User Id=sa;Password= Pa$$w0rd;"/>-->
    <add name="VuelingCrud" connectionString="Data Source = AM-BCN-POR-425; Initial Catalog = VuelingCrud; Trusted_Connection=yes; Integrated Security = SSPI"/>   
  </connectionStrings>
</configuration>